### Instana GitHub action for GitOps update sample workflow
### This GitHub action workflow configures the Instana GitHub action for GitOps update
### that remotely triggers the update of the configuration of Instana host agents that
### are configured to use the Git-based Configuration Management capability. The selection
### of which agents to update is based on a combination of agent zone and tags.

### Installation: refer to https://github.com/instana/github-action-update-agent-configurations#setup

### For more information on the Instana GitHub action for GitOps update, refer to:
### https://github.com/instana/github-action-update-agent-configurations

name: Instana GitOps update

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: instana/github-action-update-agent-configurations@v1.0.0
        with:
          # At least one of 'agent_zone' and 'agent_tags' should be set
          agent_zone: my_zone
          agent_tags: 'gitops_environment=prod'
        env:
          INSTANA_API_ENDPOINT: ${{ secrets.INSTANA_API_ENDPOINT }}
          INSTANA_API_TOKEN: ${{ secrets.INSTANA_API_TOKEN }}
